{% extends 'core/index.html' %}

{% load static %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="container-div mt-5 mb-3">
        <div class="bg-white dark:bg-black/20 p-7 rounded-lg shadow-md">
            <div class="flex items-center  ">
                <input type="text" name="searchProd" id="searchInput" value="{{ search }}" placeholder="Search..." class="w-full px-5 py-2 pb-1 dark:bg-black/20 dark:text-white border-solid focus:outline-none text-black"> 
                <button  class="ml-4 p-3 bg-black text-white px-6 py-2 rounded-md">Search</button>
            </div>
        </div>
    </div>
</form>

<a href="/admin/storage/product/add/" class="bg-green/70 text-white py-2 px-4 mb-5  flex items-center space-x-1 float-left">
    <i class="fas fa-plus-circle"></i>
    <span>Add product</span>
</a> <br>


{% if empty %}
<div class="bg-white dark:bg-black/20 dark:text-white shadow-md rounded-md p-4 mt-10">
    <div class="overflow-x-auto">
        <table id="result_list" class="table-auto w-full">
            <thead>
                <tr>
                    <th class=" p-2">
                        <div class="text-center">
                            <span><a href="?o=1" class="dark:text-white">Products</a></span>
                        </div>
                    </th>
                    <th class=" p-2">
                        <div class="text-center">
                            <span><a href="?o=2" class="dark:text-white">Description</a></span>
                        </div>
                    </th>
                    <th class=" p-3">
                        <div class="text-center">
                            <span><a href="?o=3" class="dark:text-white">Date</a></span>
                        </div>
                    </th>
                    <th class=" p-3">
                        <div class="text-center">
                            <span><a href="?o=3" class="dark:text-white">Local</a></span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class='text-center'>
               
                {% for prod in empty%}
                        <tr class="bg-white dark:bg-black/20 dark:text-white">
                            <td class=" p-2"><a href="{% url 'storage:edit_view' name='name' %}" class="dark:border-gray-500 border-b light:border-black dark:text-white">{{ prod.name }}</a></td>
                            <td class=" p-2"><span class="dark:text-white">{{prod.discription}}</span></td>
                            <td class=" p-2"><span class="dark:text-white">{{ prod.date }}</span></td>
                            <td class=" p-2"><span class="dark:text-white">{{prod.local}}-{{ prod.position }}</span></td>
                            
                        </tr>
                {% endfor %}
               
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="bg-white dark:bg-black/20 dark:text-white shadow-md rounded-md p-4 mt-10">
    <div class="overflow-x-auto">
        <table id="result_list" class="table-auto w-full">
            <thead>
                <tr>
                    <th class=" p-2">
                        <div class="text-center">
                            <span><a href="?o=1" class="dark:text-white">Products</a></span>
                        </div>
                    </th>
                    <th class=" p-2">
                        <div class="text-center">
                            <span><a href="?o=2" class="dark:text-white">Description</a></span>
                        </div>
                    </th>
                    <th class=" p-3">
                        <div class="text-center">
                            <span><a href="?o=3" class="dark:text-white">Date</a></span>
                        </div>
                    </th>
                    <th class=" p-3">
                        <div class="text-center">
                            <span><a href="?o=3" class="dark:text-white">Local</a></span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class='text-center'>
               
                {% for prod in product %}
                        {% if forloop.counter|divisibleby:2 %}
                            <tr class="bg-gray-200 dark:bg-black/20 dark:text-white">
                                <td class=" p-2"><a href="{% url 'storage:edit_view' name='name' %}" class="dark:text-white">{{ prod.name }}</a></td>
                                <td class="p-2"><span class="dark:text-white">{{ prod.discription }}</span></td>
                                <td class="p-2"><span class="dark:text-white">{{ prod.date }}</span></td>
                                <td class="p-2"><span class="dark:text-white">{{ prod.local }}</span></td>
                            </tr>
                        {% else %}
                            <tr class="bg-white dark:bg-black/20 dark:text-white">
                                <td class="p-2"><span class="dark:text-white">{{ prod.name }}</span></td>
                                <td class="p-2"><span class="dark:text-white">{{ prod.discription }}</span></td>
                                <td class="p-2"><span class="dark:text-white">{{ prod.date }}</span></td>
                                <td class="p-2"><span class="dark:text-white">{{ prod.local }}-{{ prod.position }}</span></td>
                            </tr>
                        {% endif %}
                {% endfor %}
               
            </tbody>
        </table>
    </div>
</div>

{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the search input element
        var searchInput = document.getElementById('searchInput');

        // Focus on the search input
        searchInput.focus();

        // Keep the cursor at the end of the input value
        var length = searchInput.value.length;
        searchInput.setSelectionRange(length, length);
    });
</script>


{% endblock content %}